
.hero {
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  background-image: url('../../../../assets/images/Login_Background.jpg');
}

.hero__catch {
  height: 100%;
  width: 50%;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  box-sizing: border-box;
}

.hero__title {
  font-size: 2.5rem;
  text-align: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.login__error {
  color: var(--errorColor);
}

@media screen and (max-width: 500px) {
  .hero__catch {
    width: 100%;
  }
}