.routineSlider {
  display: flex;
  max-width: 100%;
  overflow-x: hidden;
  flex-wrap: wrap;
}

.routineSlider__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.routineSlider__expandMore {
  width: 100%;
  border: none;
  border-radius: 0.25rem;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}

.routineSlider__expandMore:hover {
  opacity: 0.75;
}

a.routineSlider__seeAll {
  color: var(--primaryColor);
  text-align: end;
}

@media screen and (max-width: 500px) {
  .routineSlider {
    display: flex;
    max-width: 100%;
    overflow-x: scroll;
    flex-wrap: nowrap;
  }

  .routineSlider__expandMore {
    display: none;
  }
}