.main {
  min-height: 100vh;
  max-width: 100%;
  padding: 80px 2rem 2rem 2rem;
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.firstColumn {
  flex: 0 0 30%;
}

.secondColumn {
  flex: 0 0 40%;
}

.thirdColumn {
  flex: 0 0 30%;
}

.similar {
  margin-bottom: 1rem;
  display: block;
}
