.card__wrapper {
  padding: 0.25rem;
  flex: 0 0 20%;
  box-sizing: border-box;
}

.card__hide {
  display: none;
}

.card__show {
  display: block;
}

.card {
}

.card__header {
  display: flex;
  align-items: center;
}

.card__title {
  margin-left: 1rem;
}

.card__stats {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.card__stat {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1500px) {
  .card__wrapper {
    flex: 0 0 25%;
  }
}

@media screen and (max-width: 1200px) {
  .card__wrapper {
    flex: 0 0 33%;
  }
}

@media screen and (max-width: 800px) {
  .card__wrapper {
    flex: 0 0 50%;
  }
}

@media screen and (max-width: 500px) {
  .card__wrapper {
    flex: 0 0 100%;
  }

  .card__hide {
    display: block;
  }
}