.card__wrapper {
  padding: 0.25rem;
  flex: 0 0 20%;
  box-sizing: border-box;
}

.card__hide {
  display: none;
}

.card__show {
  display: block;
}

.card {
}

.card__header {
  display: flex;
  align-items: center;
}

.card__title {
  margin-left: 1rem;
  font-size: 1.2rem;
  height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.card__description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  height: 3.5rem;
}

.card__stats {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: auto;
}

.card__stat {
  display: flex;
  align-items: center;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.card__controls {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.card__controls > button,
.card__controls > a {
  flex: 0 0 48%;
}

button.card__controlEdit {
  width: 100%;
}


@media screen and (max-width: 1500px) {
  .card__wrapper {
    flex: 0 0 25%;
  }
}

@media screen and (max-width: 1200px) {
  .card__wrapper {
    flex: 0 0 33%;
  }
}

@media screen and (max-width: 800px) {
  .card__wrapper {
    flex: 0 0 50%;
  }
}

@media screen and (max-width: 500px) {
  .card__wrapper {
    flex: 0 0 100%;
  }

  .card__hide {
    display: block;
  }
}