:root {
  font-family: 'Montserrat', sans-serif;
  --primaryColor: #03a9f4;
  --lightPrimaryColor: #b3e5fc;
  --darkPrimaryColor: #0288d1;
  --textIconsColor: #ffffff;
  --textPrimaryColor: #212121;
  --textSecondayColor: #757575;
  --dividerColor: #bdbdbd;
  --errorColor: red;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.main {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}